/* Footer (Global Footer)
--------------------------------------------------*/

#footer-global[role="contentinfo"] {
  color: #fff;
  width: 100%;
  background: #333 url(../img/classy_fabric.png) repeat;
  text-align: center;
}

#footer-global[role="contentinfo"] #copyright-details {
  margin-top: 20px;
}

#footer-global[role="contentinfo"] h3 {
  border-bottom: 1px dotted #666;
  color: #fff;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

#footer-global[role="contentinfo"] a {
  text-decoration: none;
}

#footer-global[role="contentinfo"] a:hover {
  color: #ddd;
}

#press-style ul li{
  display: inline;
  margin: 4px;
}

#contact-style ul li{
  display: inline;
  margin: 4px;
}

/* Contact
--------------------------------------------------*/

#contact {
  text-align: center;
  position: relative;
  z-index: 300;
  @include box-shadow(0px 0px 13px 0px rgba(0, 0, 0, .9));
}

/* Contact Details */

#contact-details {
  font-size: 30px;
  font-family: 'Oswald', sans-serif; /* This theme uses Google Web Fonts for headings, and for certain portions of body text. To change this font, go to http://www.google.com/webfonts/ and follow the instructions there. */
  font-weight: normal;
  line-height: 50px;
  text-transform: uppercase;
}

#copyright-details {
  font-size: 11px;
  line-height: 18px;
  background: none;
  border: 1px solid #fff;
  display: inline-block;
  padding: 8px;
}
