////////////////////////
//
// Breakpoints
//
////////////////////////

/**
 * Susy Breakpoint Structure
 */

/*------------------------------------*\
    $Box Sizing
\*------------------------------------*/

// @import 'breakpoint';
@include border-box-sizing;

/*------------------------------------*\
    $Grid Setup
\*------------------------------------*/
  //mobile first
  .container{
    position: relative;
    $total-columns: 4;
    $column-width: stripAndPxToEms(55px);
    $gutter-width: stripAndPxToEms(20px); //space between columns
    $grid-padding: stripAndPxToEms(15px);
    $container-width: stripAndPxToEms(672px);
    // $container-style: fluid;

    @include container;

    // @include susy-grid-background;
  }


  //for medium devices
  @include breakpoint($breakpoint-md) {
    $total-columns: 8;
    $column-width: stripAndPxToEms(61px);
    $gutter-width: stripAndPxToEms(20px); //space between columns
    $grid-padding: stripAndPxToEms(20px);

    .container {
      @include container;

      // @include susy-grid-background;
    }
  }


  // for large devices
  @include breakpoint($breakpoint-lg) {

    .container {
      $total-columns: 12;
      $column-width: stripAndPxToEms(67px);
      $gutter-width: stripAndPxToEms(17px); //space between columns

      @include container;
      
      // @include susy-grid-background;
    }
  }