////////////////////////
//
// Structure
//
////////////////////////

/**
 * Box-model declarations,
 * div structure,
 * column breakdowns, etc.
 */

// small Grid
@for $i from 1 through $total-columns-sm {
    .col-#{$i}-sm-offset {
        @include push($i, $total-columns-sm)
    }
    .col-#{$i}-sm { 
        @include span-columns($i, $total-columns-sm);
    }
    .col-#{$i}-sm-omega{
        @include span-columns($i omega, $total-columns-sm);
    }
    .col-half-full-bleed{
        display: block;
        position: relative;
        width: 100%;
    }
}

// Medium Grid
@include breakpoint($breakpoint-md) {
    @for $i from 1 through $total-columns-md {
        .col-#{$i}-md-offset {
            @include push($i, $total-columns-md)
        }
        .col-#{$i}-md { 
            @include span-columns($i, $total-columns-md);
        }
        .col-#{$i}-md-omega{
            @include span-columns($i omega, $total-columns-md);
        }
    }

    .col-half-full-bleed{
        display: block;
        position: relative;
        float: left;
        width: 50%;
    }

    .col-full-bleed{
        display: block;
        position: relative;
        width: 100%;
    }
}

// Large Grid
@include breakpoint($breakpoint-lg) {
    @for $i from 1 through $total-columns-lg {
        .col-#{$i}-lg-offset {
            @include push($i, $total-columns-lg)
        }
        .col-#{$i}-lg { 
            @include span-columns($i, $total-columns-lg);
        }
        .col-#{$i}-lg-omega{
            @include span-columns($i omega, $total-columns-lg);
        }
    }

    .col-half-full-bleed{
        display: block;
        position: relative;
        width: 50%;
    }
}