html {
                background-color: #ddd;
                background: url('../img/jobs/lanterns.jpg') no-repeat fixed;
                background-size: cover;
            }
            body {
                font-family: "Trebuchet MS", sans-serif;
                font-size: 110%;
                line-height: 25px;
                background-color: rgba(240, 240, 240, 1);
                border-left: 1px solid #aaa;
                border-right: 1px solid #aaa;
                width: 800px;
                margin: 0 auto;
                padding: 20px 50px;
            }
            h1 {
                text-shadow: white 1px 1px 0;
            }
            img {
                margin: auto;
                display: block;
            }
            ul.screenshots {
                list-style: none;
                margin: 0;
                padding: 0;
            }
            ul {
                line-height: 30px;
            }
            li img {
                width: 700px;
                margin: 20px auto;
                border: 1px solid #aaa;
                box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
            }
            p {
                text-indent: 50px;
                clear: both;
            }
            h1+p, h2+p, p.small {
                text-indent: 0;
            }
            p.vision {
                text-indent: 0;
                font-weight: bold;
            }
            a {
                color: #1569AC;
                text-decoration: none;
            }
            a:hover {
                text-decoration: underline;
            }
            a.bitcoin.icon {
                background-image: url('../img/jobs/bitcoin.png');
            }
            a.openbazaar.icon {
                background-image: url('../img/jobs/tent.png');
                background-size: 32px 24px;
                background-position: -5px -2px;
            }
            a.mike.icon {
                background-image: url('../img/jobs/mike.jpg');
            }
            a.dionyziz.icon {
                background-image: url('../img/jobs/dionyziz.jpg');
            }
            a.icon {
                padding-left: 25px;
                background-repeat: no-repeat;
                background-position: left;
                background-size: 20px 20px;
            }
            p.label {
                text-align: center;
                text-indent: 0;
                font-weight: bold;
                font-size: 90%;
            }