@import url(http://fonts.googleapis.com/css?family=Cabin);
@import url(http://fonts.googleapis.com/css?family=Oswald);

#gettingstarted {
    font-size: 20px;
    white-space: nowrap;
    text-align: center;
    padding-top: 5px;
    z-index: 999;
    position: fixed;
    width: 180px;
    background-image: url('../img/classy_fabric.png');
    height: 50px;
}

.round {
    -webkit-border-bottom-right-radius: 30px;
    -moz-border-radius-bottomright: 30px;
    border-bottom-right-radius: 30px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block
}

.container:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.clearfix:before, .clearfix:after, .row:before, .row:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0
}

.row:after, .clearfix:after {
    clear: both
}

.row, .clearfix {
    zoom: 1
}

.row {
    margin-bottom: 20px
}

.cover-bg {
    background: url(../img/bg.jpg) top center no-repeat;
    width: 100%;
    height: 100%
}

.section-padding {
    padding: 20px 0
}

#section-divider-2 {
    width: 100%;
    height: 500px;
    background-color: #1c1f26;
    position: relative;
    text-align: center;
}

@media (min-width: 37.5em) {
    .section-padding {
        padding: 70px 0
    }
}

.box-shadow, #introduction, #meet-the-team, #screenshots, #blog {
    -moz-box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.9);
    -webkit-box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.9);
    box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.9)
}

html, body, div, span, applet, object, h1, h2, h3, h4, h5, h6, p, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, menu, nav, section {
    display: block
}

body {
    line-height: 1
}

ol, ul {
    list-style: none
}

::-moz-selection {
    background: #29AAE2;
    color: #fff;
    text-shadow: none
}

::selection {
    background: #29AAE2;
    color: #fff;
    text-shadow: none
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.container {
    position: relative;
    *zoom: 1;
    max-width: 61em;
    _width: 61em;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: auto;
    margin-right: auto
}

.container:after {
    content: "";
    display: table;
    clear: both
}

@media (min-width: 37.5em) {
    .container {
        *zoom: 1;
        max-width: 61em;
        _width: 61em;
        padding-left: 1em;
        padding-right: 1em;
        margin-left: auto;
        margin-right: auto
    }

    .container:after {
        content: "";
        display: table;
        clear: both
    }
}

@media (min-width: 60em) {
    .container {
        *zoom: 1;
        max-width: 61em;
        _width: 61em;
        padding-left: 1em;
        padding-right: 1em;
        margin-left: auto;
        margin-right: auto
    }

    .container:after {
        content: "";
        display: table;
        clear: both
    }
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    text-transform: uppercase
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-weight: inherit
}

h1 {
    font-size: 40px;
    line-height: 75px;
    margin-bottom: 20px;
    letter-spacing: 1px;
    border-bottom: medium double #ddd
}

@media (min-width: 37.5em) {
    h1 {
        font-size: 60px;
        padding-bottom: 20px
    }
}

h2 {
    font-size: 22px;
    line-height: 40px;
    margin-bottom: 10px
}

h3 {
    font-size: 23px;
    line-height: 34px;
    margin-bottom: 8px
}

h4 {
    font-size: 21px;
    line-height: 30px;
    margin-bottom: 4px
}

h5 {
    font-size: 17px;
    line-height: 24px
}

h6 {
    font-size: 14px;
    line-height: 21px
}

p {
    margin: 0 0 20px 0
}

p img {
    margin: 0
}

em {
    font-style: italic
}

strong {
    font-weight: bold;
    color: #333
}

small {
    font-size: 80%
}

#footer-global h1 {
    border-bottom: medium double #666;
    color: #fff;
    padding-bottom: 20px
}

#uber-statement {
    font-size: 22px;
    border: none;
    color: #fff;
    text-align: center;
    line-height: 1.2;
    margin-top: 40px;
    margin-bottom: 0;
    padding-bottom: 0
}

@media (min-width: 37.5em) {
    #uber-statement {
        margin-top: 115px;
        margin-bottom: 40px
    }
}

a, a:visited {
    color: #29AAE2;
    text-transform: none;
    text-decoration: none;
    outline: 0;
    -moz-transition: all .4s;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -ms-transition: all .4s;
    transition: all .4s
}

a:hover, a:focus {
    color: #999
}

p a, p a:visited {
    line-height: inherit
}

body {
    font: 24px/36px 'Cabin', sans-serif;
    color: #444;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%
}

@media (min-width: 60em) {
    .header-background-image, .bg1, .bg2, .bg3 {
        background-attachment: fixed !important
    }
}

#header-global[role="banner"] {
    background-color: #fff;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    width: 100%;
    padding-bottom: 20px;
    text-transform: uppercase;
    z-index: 1000
}

@media (min-width: 37.5em) {
    #header-global[role="banner"] {
        padding-bottom: 100px
    }
}

#header-global[role="banner"] .row {
    margin-bottom: 0
}

.header-background-image {
    height: 1025px;
    position: absolute
}

.logo__wrapper {
    position: relative;
    margin-bottom: 10px
}

.logo__wrapper .logo__img {
    max-width: 100%
}

@media (min-width: 37.5em) {
    .logo__wrapper .logo__img {
        max-width: 64%
    }
}

@media (min-width: 60em) {
    .logo__wrapper .logo__img {
        max-width: 64%
    }
}

#header-navigation[role="navigation"] {
    background: #333 url(../img/classy_fabric.png) repeat;
    font-size: 22px;
    padding: 5px 0;
    position: relative;
    text-align: center;
    z-index: 999;
    width: 100%;
    bottom: 0;
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    height: 287px
}

@media (min-width: 37.5em) {
    #header-navigation[role="navigation"] {
        height: 60px
    }
}

#header-navigation[role="navigation"] ul {
    display: inline-block;
    margin-bottom: 0
}

#header-navigation[role="navigation"] li {
    float: left;
    margin-bottom: 0;
    padding: 5px 0;
    position: relative
}

#header-navigation[role="navigation"] li a, #header-navigation[role="navigation"] li a:visited {
    color: #fff;
    margin-right: 14px;
    padding: 2px 5px;
    text-decoration: none;
    zoom: 1
}

@media (min-width: 60em) {
    #header-navigation[role="navigation"] li a, #header-navigation[role="navigation"] li a:visited {
        margin-right: 20px
    }
}

#header-navigation[role="navigation"] li a:hover, #header-navigation[role="navigation"] li a:focus {
    color: #29AAE2
}

#header-navigation.is-sticky {
    background-color: #333;
    margin-top: 0;
    padding-top: 10px
}

#header-navigation.is-sticky[role="navigation"] li a {
    color: #fff
}

#header-navigation.is-sticky[role="navigation"] li a:hover, #header-navigation.is-sticky[role="navigation"] li a:focus {
    color: #29AAE2
}

.navigation__item {
    width: 100%;
    display: block;
    text-align: left
}

@media (min-width: 37.5em) {
    .navigation__item {
        width: auto;
        display: inline
    }
}

.copyright {
    padding-top: 10px;
    font-family: Oswald, Cabin, Arial, sans-serif;
    font-size: 15px;
    text-align: center;
}

#footer-global[role="contentinfo"] {
    color: #fff;
    width: 100%;
    background: #333 url(../img/classy_fabric.png) repeat;
    text-align: center
}

#footer-global[role="contentinfo"] a {
    text-decoration: none
}

#footer-global[role="contentinfo"] a:hover {
    color: #ddd
}

#contact-style ul li {
    display: inline;
    margin: 10px
}

#contact {
    text-align: center;
    position: relative;
    z-index: 300;
    -moz-box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.9);
    -webkit-box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.9);
    box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.9)
}

#contact-details {
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    line-height: 50px;
    text-transform: uppercase
}

#introduction {
    background-color: #fff;
    text-align: center;
    z-index: 300;
    position: relative
}

#press-style ul {
    margin: 60px 0 20px
}

#press-style ul li {
    display: inline-block;
    width: 16%
}

#press-style ul li a {
    display: block;
    text-align: center
}

#press-style ul li a img {
    display: block;
    width: 100%
}

#screenshots {
    background: #fff;
    text-align: center;
    position: relative;
    z-index: 300
}

#screenshot-items {
    margin-top: 40px
}

.slidesjs-pagination {
    display: none
}

#slides {
    display: none
}

.slidesjs-pagination .active {
    color: red
}

#blog {
    background-color: #fff;
    z-index: 300;
    position: relative;
    text-align: left
}

@media (min-width: 37.5em) {
    #blog {
        text-align: center
    }
}

.blog--headline {
    text-align: center
}

.donate--link {
    color: #333 !important;
    font-weight: bold;
    text-decoration: none !important;
    word-wrap: break-word
}

.donate--headline {
    line-height: 1.3em;
    padding-bottom: 13px
}

@media (min-width: 37.5em) {
    .donate--headline {
        line-height: 75px;
        padding-bottom: 20px
    }
}
